body {
	background: linear-gradient(-45deg, #aaff88, #aaff88, #88ffc7, #32c8ff);
	background-size: 200% 200%;
}


.row{
    background-color:rgb(255, 255, 255, 0.5);
}

.display-1, .display-4{
    text-align: center;
}

.display-4{
    font-size: 30px;
}

.row{
    width: 80%;
    border:1px solid lightgray;
    border-radius: 10px;
    padding:20px;
}
