
html{
    min-height: 100%;
}

#contenido{
    margin-top:20px;
    margin-bottom:20px;
}

/* #tablaTareas, td{
    border: 1px solid black;
}

#tablaTareas td{
    padding: 5px;
} */



.table tr:nth-child(even){
    background-color: rgb(245, 245, 245);
}

.table tbody tr:hover{
    background-color: rgb(219, 219, 219);
}



.icons{
    text-decoration: none;
    color: #212529;
}



